<section class="intro">
    <div>
        <p><%- profile.profileName %> </p>
        <p><span>Software</span> Engineer.</p>
        <p><span>Accra,</span> Ghana.</p>
        <p><small><span><a href="mailto:<%= profile.profileEmail %>"><%= profile.profileEmail %></a></span> &star; <a href="tel:<%= profile.profilePhoneNumber %>"><%= profile.profilePhoneNumber %></a></small></p>
    </div>
</section>