<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/header') %>
</head>

<body>
    <%- include ('partials/side') %> 
    
	<main>
        <%- include ('partials/profile') %> 
        
        <%- include ('partials/skills') %> 
		
        <%- include ('partials/section') %> 
        
        <%- include ('partials/footer') %> 
    </main>
    
</body>

</html>